.top_bar {
	width: 100%;
	min-width: 1050px;
	height: 45px;
	background-color: #20aae5;
	border-bottom: 5px solid #1894ca;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
}

.logo a {
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 1.25em;
	position: relative;
	top: 15px;
	text-shadow: #73b6e2 0.5px 0.5px; 
	color: #1086ba;
}

nav {
	float: right;
	right: 0.25em;
	position: absolute;
	margin: 10px;
}

nav a {
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 1.25em;
	margin-left: 10px;
}

nav a:hover {
	border-bottom: 7px solid #e67e22;
	color: #fff;
}