body {
	line-height: 17px;
	background-color: #e6eae8;
}

.logo a {
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 30;
	position: relative;
	top: 9px;
	text-shadow: #73b6e2 0.5px 0.5px; 
	color: #1086ba;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}